@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import "vars";
//
body {
  font-family: $font-main;
  background-color: $white;
  color: $dark;
  font-size: 16px;
}

a {
  color: $dark;
  font-size: 28px;
  font-weight: 500;
  transition: color 0.2s ease-in;

  &:hover {
    color: $accent;
  }
}

.container {
  margin: 0 auto;
  //padding: 0 15px;
  max-width: 1140px;

  &--sm {
    max-width: 840px;
  }
}

.link-bold {
  color: $accent;
  font-weight: 700;
}

.no-scroll {
  overflow: hidden;
}