@import "vars";
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  .bg__home {
    padding-top: 50px;
    margin-bottom: 30px;
  }

  .header__title {
    font-size: 26px;
    text-align: center;
    //padding-bottom: -160px;
  }

}
.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 48px;
    font-weight: 700;
    color: $accent;
    cursor: text;
  }

}
.nav {
  font-size: 20px;

  .nav__list {
    display: flex;
    column-gap: 40px;
  }
}
.link-active {
  color: $accent;
}
